
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/add-ons/flow-inspector.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
    <script src="/node_modules/epicenter-js/dist/epicenter.min.js"></script>
    <!-- <script src="https://forio.com/tools/js-libs/2.0.1/epicenter.min.js"></script> -->
    <script src="/dist/flow-edge.js"></script>
    <script src="/dist/add-ons/flow-inspector.min.js"></script>
</head>
<body data-f-model="gglasses.vmf" class="flow-debug">
    <div class="content-wrapper container">
        <h1> Google Glasses Sales Simulator </h1>

        <div style="margin-top: 30px;">
            <label>Set your price: </label>
            <input type="text" data-f-bind="Price" placeholder="s">

            <button class="btn btn-primary"  data-f-on-click="step(1000)">Advance</button>
            <button class="btn" data-ub-component="Button"  data-f-on-click="reset | start_game">Reset</button>

        </div>
        <br/>
        Current Year <strong data-f-bind="Time"></strong>
        You have <strong data-f-bind="Time"> <%= (2020 - value) %> </strong> years left.

<!-- 
        <div data-f-bind="Time, Revenue, Profit">
            In <%= Time %>  our company has sold units worth  <%= Revenue %>.
            We made a profit of <span data-f-bind="Profit"></span>.
        </div>

        Profit
        <ul data-f-foreach="Time">
            <li> Year <%= index + 1 %>, value <%= value %> </li>
        </ul>

    <table class="table">
        <thead>
            <th> Profit </th>
            <th> Price </th>
        </thead>
        <tbody data-f-foreach="Time">
           <tr>
                <td data-f-bind="Profit[<%= index + 1 %>] | $#,###">  </td>
                <td data-f-bind="Price[<%= index + 1 %>]"></td>
           </tr>
        </tbody>
    </table> -->

    <h1 id="Stuff"> Stuff </h1>

    <script>
            Flow.initialize({
                channel: {
                    runManager: {
                        strategy: 'new-if-persisted',
                        run: {
                            account: 'jaimedp',
                            project: 'glasses',
                            transport: {
                                beforeSend: function () {
                                    $('body').addClass('loading');
                                },
                                complete: function () {
                                    $('body').removeClass('loading');
                                }
                            }
                        }
                    }
                }
            });

            // new window.Flow.Inspector('body');

    </script>
</body>
</html>
