<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.js"></script>
    <script src="//forio.com/tools/js-libs/1.7.0/epicenter.min.js"></script>
    <script src="../../dist/flow-edge.js"></script>

    <link rel="stylesheet" type="text/css" href="test.css">

  </head>
  <body data-f-on-init="saveAll" data-f-model="hello_world_flow.jl">

     <ul id="update35" data-f-foreach="r in regions">
         <li>
            <strong> SDFSD </strong>
             <ul data-f-foreach="s in sales">
                 <li> <%= r %> <%= s %></li>
             </ul>
         </li>
     </ul>
     <script>
         var options = {
             channel: {
                 //strategy: 'new-if-persisted',
                 strategy: 'always-new',
                 run: {
                     model: 'hello_world_flow.jl',
                 //account: 'first-team',
                     account: 'mjones',
                     project: 'hello-world-flow',
                 //server: {host: 'api.epicenter-stable.foriodev.com'}
                     server: { host: 'api.forio.com' },
                     //variables: { silent: true },
                     //operations: { silent: { except: ['saveAll', 'resetInt'] } }
                 }
             }
         };
         Flow.initialize(options);

     </script>
  </body>

</html>
