<html>

<head>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
    <script src="/node_modules/epicenter-js/dist/epicenter.min.js"></script>
    <script src="/dist/flow-edge.js"></script>
</head>

<body>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody data-f-foreach="Time">
            <tr>
                <th><%= value %></th>
                <td data-f-repeat="Price"></td>
            </tr>
            <tr>
                <th><%= value %></th>
                <td data-f-repeat="Sales"></td>
            </tr>
        </tbody>
    </table>
    <button data-f-on-click="step">Step</button>
    <button data-f-on-click="reset">Reset</button>
    <script>
        Flow.initialize({
            channel: {
                defaults: {
                    run: {
                        account: 'jaimedp',
                        project: 'glasses',
                        model: 'gglasses.vmf',
                    }
                }
            }
        });
    </script>
</body>

</html>
