<!doctype html>
<html>

<head>
    <style type="text/css">
        .fail { color: red; }
        .pass { color: green; }
        .North { color: red }
        .South { color: green }
        .East { color: blue }
        .West { color: orange }
        .salesStyle.0 { visibility: hidden }
        .salesStyle.1 { visibility: visible }
        .xx.East { color: purple }
        .xx.West { color: gray }
        .xx.value-2 { color: red }
    </style>


</head>

<body data-f-on-init="saveAll" data-f-model="hello_world_flow.jl">

    <table border="1">

        <tr>
            <td>Docs section</td>
            <td>Test case</td>
            <td>Result</td>
            <td>Notes</td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind string</td>
            <td>
                span:
                <span id="update01" data-f-bind="sampleString"></span>
                <br>
                input:
                <input id="update02" type="text" data-f-bind="sampleString" />
            </td>
            <td class="pass">pass (0.10.0)</td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind int</td>
            <td>
                range:
                <input id="update03" type="range" data-f-bind="sampleInt | i"  id="range" />
                <br>
                span:
                <span id="update04" data-f-bind="sampleInt"></span>
                <br>
                input:
                <input id="update05" type="text" data-f-bind="sampleInt" />
            </td>
            <td class="pass">
                pass (0.10.0)
                <br>
                Notes: also works for reals, e.g. 8.5 and -10. Probably because of the Julia model not being strict about what kind of number this is.
            </td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind object</td>
            <td>
                span:
                <span id="update06" data-f-bind="salesMgr.region"></span>
                <br>
                input:
                <input id="update07" type="text" data-f-bind="salesMgr.region" />
            </td>
            <td class="pass">pass (0.10.0)</td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind array</td>
            <td>
                declared with {}: <br>
                span:
                <span id="update08" data-f-bind="sales[3]"></span>
                <br>
                input:
                <input id="update09" type="text" data-f-bind="sales[3]" />
                <br><br>
                declared with []: <br>
                span:
                <span id="update10" data-f-bind="salesSq[3]"></span>
                <br>
                input:
                <input id="update11" type="text" data-f-bind="salesSq[3]" />
            </td>
            <td class="pass">pass (0.10.0)</td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind array indexed by variable</td>
            <td>
                declared with {}: 
                span:
                <span id="update12" data-f-bind="sales[<sampleTruthy>]"></span>
                <br>
                input:
                <input id="update13" type="text" data-f-bind="sales[<sampleTruthy>]" />
                <br><br>
                declared with []: 
                span:
                <span id="update14" data-f-bind="salesSq[<sampleTruthy>]"></span>
                <br>
                input:
                <input id="update15" type="text" data-f-bind="salesSq[<sampleTruthy>]" />
                <br>
                check: sampleTruthy is
                <span id="update16" data-f-bind="sampleTruthy"></span>
                and sales[1] is
                <span id="update17" data-f-bind="sales[1]"></span>
                and salesSq[1] is <span id="update18" data-f-bind="salesSq[1]"></span>
            </td>
            <td class="pass">
                pass (0.10.0)
            </td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind multiple variables at once, also regression testing <a href="https://github.com/forio/flow.js/issues/27">issue #27</a></td>
            <td id="update19" data-f-bind="sampleInt, sampleString">
                The data-f-bind is in the "td" tag, we'll use templates to show the values of sampleInt <%= sampleInt %> and sampleString <%= sampleString %>.
            </td>
            <td class="pass"> pass (0.10.0) </td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind tuples</td>
            <td>
                here's sampleTuple[1]: <span id="update20" data-f-bind="sampleTuple[1]"></span><br>
                (tuples are immutable in Julia)<br>
                note that we cannot display the whole tuple. but, we can list it out like an array in a ul:
                <ul id="update21" data-f-foreach="sampleTuple">
                    <li>
                </ul>
            </td>
            <td class="pass"> pass (0.10.0) </td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind dicts</td>
            <td>
                here's sampleDict: <span id="update22" data-f-bind="sampleDict"></span><br>
                and here's sampleDict["one"]: (commented until passing) <!-- <span data-f-bind="sampleDict[one]"></span> -->
            </td>
            <td class="fail"> fail, see <a href="https://github.com/forio/flow.js/issues/37">issue #37</a></td>
        </tr>
        
        <tr>
            <td>converters</td>
            <td>Multiple Interpolations</td>
            <td>
                input sales[anotherTruthy] | $#.00:
                <input id="update23" type="text" data-f-bind="sales[<anotherTruthy>] | $#.00" />
        and sales[1] is
                <span data-f-bind="sales[1]"></span>
                and sales[sampletruthy] is
                <span data-f-bind="sales[<sampleTruthy>]"></span>
            </td>
            <td class="pass">pass (0.10.0)</td>
        </tr>

        <tr>
            <td>display_update</td>
            <td>data-f-bind array indexed by expression</td>
            <td data-f-bind="sampleTruthy">
                desired: data-f-bind="sales[&lt;%=value +1%&gt;]" (there's already a bind for sampleTruthy on this td)
                span: <span id="update24" data-f-bind="sales[<%= value + 1%>]"></span>
            <br>
            input:
            <input type="text" id="update25" data-f-bind="sales[<%= value + 1%>]" /></td>
        <td class="pass">
            pass (0.10.0); regression testing of <a href="https://github.com/forio/flow.js/issues/11">issue #11</a>
        </td>
    </tr>

    <tr>
        <td>display_update</td>
        <td>data-f-bind radio selection for truthy</td>
        <td>
            <input id="update26" type="radio" data-f-bind="sampleTruthy"/>
            radio button, selected if sampleTruthy is 1.
            <br>
            sampleTruthy is:
            <span data-f-bind="sampleTruthy"></span>
        </td>
        <td class="pass">pass (0.9.0)</td>
    </tr>

    <tr>
        <td>display_update</td>
        <td>data-f-bind radio selection with value</td>
        <td>
            <input id="update27" type="radio" data-f-bind="sampleInt" value="8"/>
            radio button, selected if sampleInt is 8.
            <br>
            sampleInt is:
            <span data-f-bind="sampleInt"></span>
        </td>
        <td class="fail">
            only sometimes works in 0.10.0, see <a href="https://github.com/forio/flow.js/issues/10">issue #10</a> which is also <a href="https://issues.forio.com/browse/UNICORN-2157">UNICORN-2157</a>: if manually change sampleInt to 8, is selected. if changed using resetInt() call, is updated only if the resetInt() call is the first thing we do on the page.
        </td>
    </tr>

    <tr>
        <td>display_update</td>
        <td>data-f-bind select element selection</td>
        <td>
            values are 8, 10, 12, should select based on value of sampleInt, using data-f-bind only:
            <select id="update28" data-f-bind="sampleInt">
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
            </select>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>display_update</td>
        <td>data-f-bind checkbox selection</td>
        <td>
            checkbox, should be checked because sampleBool is true:
            <input id="update29" type="checkbox" data-f-bind="sampleBool" />
            <br>
            checkbox, should be unchecked because sampleFalseBool is false:
            <input id="update30" type="checkbox" data-f-bind="sampleFalseBool" />
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, for an array</td>
            <td>here is a list of the values in my sales {} array:
                <ul id="update31" data-f-foreach="sales">
                    <li>Index is <%= index %> and value is <%= value %></li>
                </ul>
                <br><br>
                and here is a list of the values in my salesSq [] array:
                <ul id="update32" data-f-foreach="salesSq">
                    <li>Index is <%= index %> and value is <%= value %></li>
                </ul>
            </td>
            <td class="pass">pass (0.10.0)</td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, for an array, but without using templates (expect the values only to appear)</td>
            <td>here is a list of the values in my sales array:
                <ul id="update33" data-f-foreach="sales">
                    <li></li>
                </ul>
            </td>
            <td class="pass">pass (0.10.0)</td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, for an object</td>
            <td>here is a list of the fields in my sales manager object:
                <ul id="update34" data-f-foreach="salesMgr">
                    <li>Field is <%= key %> and value is <%= value %></li>
                </ul>
            </td>
            <td class="pass">pass (0.10.0)</td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, nested</td>
            <td>for testing purposes we'll assume each region sold the same ...
               <ul id="update35" data-f-foreach="regions">
                   <li>
                       <%= value %>
                       <ul data-f-foreach="sales">
                           <li></li>
                       </ul>
                   </li>
               </ul>
            </td>
            <td class="pass">pass (0.10.0), regression testing of <a href="https://github.com/forio/flow.js/issues/30">issue #30</a></td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, nested, aliased</td>
            <td>using the aliases at different levels, using lists
               <ul id="update95" data-f-foreach="r in regions">
                   <li> <%= r %>
                       <ul data-f-foreach="s in sales">
                           <li> <%= s %></li>
                       </ul>
                   </li>
               </ul>
            </td>
            <td class="pass"> pass (feature/foreach-aliases), regression testing of <a href="https://github.com/forio/flow.js/pull/79">issue #30 / pr #79</a> </td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, nested, aliased</td>
            <td>using both aliases in the inner loop, using lists
               <ul id="update96" data-f-foreach="r in regions">
                   <li> 
                       <ul data-f-foreach="s in sales">
                           <li> Region: <%= r %>, Sales: <%= s %></li>
                       </ul>
                   </li>
               </ul>
            </td>
            <td class="pass"> pass (feature/foreach-aliases), regression testing of <a href="https://github.com/forio/flow.js/pull/79">issue #30 / pr #79</a> </td>
        </tr>        

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, nested, aliased</td>
            <td>using both aliases in the inner element, using tables
               <table id="update97" border="1">
                   <tbody data-f-foreach="r in regions">
                    <tr data-f-foreach="s in sales"> 
                       <td>
                           Region: <%=r%>, Sales: <%=s%>
                       </td>
                   </tr>
               </tbody>
               </table>
            </td>
            <td class="pass"> pass (feature/foreach-aliases), regression testing of <a href="https://github.com/forio/flow.js/pull/79">issue #30 / pr #79 (note requires enclosing tbody)</a> </td>
        </tr> 

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, nested, sometimes aliased</td>
            <td>using nested foreachs, alias for outer and value for inner, using tables
               <table id="update98" border="1">
                   <tbody data-f-foreach="r in regions">
                    <tr data-f-foreach="sales"> 
                       <td>
                           Region: <%= r %>, Sales: <%= value %>
                       </td>
                   </tr>
               </tbody>
               </table>
            </td>
            <td class="pass"> pass (feature/foreach-aliases), regression testing of <a href="https://github.com/forio/flow.js/pull/79">issue #30 / pr #79 </a> </td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, with logic </td>
            <td>add logic during display of a foreach: make everything but the 1st one have leading comma
               <ul id="update99" data-f-foreach="sales">
                    <li><%= (index === 0) ? value : ", " + value  %> </li>
               </ul>
            </td>
            <td class="pass"> pass (feature/foreach-aliases), regression testing of <a href="https://github.com/forio/flow.js/pull/79">issue #30 / pr #79 (not directly related to pr, but, same functionality area)</a> </td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, aliased, with logic</td>
            <td>add logic during the foreach display of an aliased foreach: only output sales info if sales are greater than 250
                <table id="update100" border="1">
                    <tr data-f-foreach="num in sales">
                        <td><%= (num > 250) ? num : "is lesser" %> || <%= num %> </td>
                    </tr>
                </table>
            </td>
            <td class="pass"> pass (feature/foreach-aliases), regression testing of <a href="https://github.com/forio/flow.js/pull/79">issue #30 / pr #79 (HOWEVER, note that this shows the empty cells (or empty list bullets, for similar list example))</a> </td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, with the logic in a converter (that returns an array)</td>
            <td>add logic during a converter to only output sales info if sales are greater than 250
                <table id="update103" border="1">
                    <tr data-f-foreach="sales | checkSize">
                        <td><%= value %></td>
                    </tr>
                </table>
            </td>
            <td class="pass"> pass (feature/foreach-aliases), regression testing of <a href="https://github.com/forio/flow.js/pull/79">issue #30 / pr #79 (compare with previous: this one filters before the display, so does not show empty table cells)</a> </td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-foreach, aliased, nested, with logic</td>
            <td>add logic during display to only output region and sales info if sales are greater than 250
                <br><emphasis>NOTE: table commented (see source), because otherwise rest of page doesn't load</emphasis>
                <table id="update101" border="1">
                    <tbody data-f-foreach="reg in regions">
                    <tr data-f-foreach="num in sales">
                        <td><%= (num > 250) ? reg + ": " + num : "smaller" %></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="fail"> FAIL (feature/foreach-aliases): gives message that num is not defined</td>
        </tr>

        <tr>
            <td>display_foreach</td>
            <td>data-f-repeat</td>
            <td>basic table use case for sales
                <table id="update102" border="1">
                    <th>sales</th>
                    <tr data-f-repeat="sales"><td><%= value %></td></tr>
                </table>
            </td>
            <td class="pass"> pass (feature/foreach-aliases) </td>
        </tr>

        <tr>
            <td>regression testing of <a href="https://github.com/forio/flow.js/issues/64">issue #64</a></td>
            <td>data-f-repeat</td>
            <td>
                update stepArray, adding a new value that is +2 from the previous value: <button id="update36" data-f-on-click="updateStepArray(2)">update</button><br>

                <table border="1">
                    <tr id="update37"><td>Step (using index+1 of stepArray variable)</td><td data-f-repeat="stepArray"><%= index + 1%></td></tr>
                    <tr id="update38"><td>stepArray by step</td><td data-f-repeat="stepArray"></td></tr>
                </table>

            </td>
            <td class="pass">pass (0.10.0)</td>
        </tr>

    <tr>
        <td>special_handling</td>
        <td>data-f-checked</td>
        <td>
            checkbox, should be checked because sampleBool is true
            <input id="update39" type="checkbox" data-f-checked="sampleBool" />
            <br>
            checkbox, should be unchecked because sampleFalseBool is false:
            <input id="update40" type="checkbox" data-f-checked="sampleFalseBool" />
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>special_handling</td>
        <td>data-f-disabled with "truthy" of 0,1</td>
        <td>
            this button should be enabled because sampleTruthy=1:
            <button id="update41" data-f-disabled="sampleTruthy">click me</button>
            <br>
            confirm: sampleTruthy is currently:
            <span data-f-bind="sampleTruthy"></span>
        </td>
        <td class="pass">
            pass (0.10.0) (disabled=1/true means enabled b/c flow inverts; disabled=0/false means disabled b/c flow inverts)
        </td>
    </tr>

    <tr>
        <td>special_handling</td>
        <td>data-f-disabled with "truthy" of true, false; also regression testing for #29</td>
        <td>
            this button should be enabled because sampleBool=true:
            <button id="update42" data-f-disabled="sampleBool">click me</button>
            <br>
            confirm: sampleBool is currently (span and input below):
            <span data-f-bind="sampleBool"></span>
            <input id="update44" data-f-bind="sampleBool"></input>
            <br>
            <br>
            this button should be disabled because sampleFalseBool=false:
            <button id="update43" data-f-disabled="sampleFalseBool">click me</button>
            <br>
            confirm: sampleFalseBool is currently (span and input below):
            <span data-f-bind="sampleFalseBool"></span>
            <input data-f-bind="sampleFalseBool"></input>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>special_handling</td>
        <td>data-f-selected</td>
        <td>
            values are 8, 10, 12, should select based on value of sampleInt, using data-f-selected for each option:
            <select id="update45">
                <option data-f-selected="sampleInt" value="8">8</option>
                <option data-f-selected="sampleInt" value="10">10</option>
                <option data-f-selected="sampleInt" value="12">12</option>
            </select>
        </td>
        <td class="pass">
            pass (0.10.0): note that when sampleInt is 11, the value selected is the last value selected, rather than 'unselected'. see <a href="https://github.com/forio/flow.js/issues/16">issue #16</a> for discussion. (if you want it to go to unselected, add data-f-selected to your select tag, not your option tag; but note this is potentially browser depedent)
        </td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>data-f-convert numbers</td>
        <td>
            sales[4] as a number:
            <span id="update46" data-f-bind="sales[4]" data-f-convert="#,###"></span>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>data-f-convert dollars and cents</td>
        <td>
            sales[4] as dollars and cents:
            <span id="update47" data-f-bind="sales[4]" data-f-convert="$0.00"></span>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>
            data-f-convert dollars only, also regression testing: <a href="https://github.com/forio/flow.js/issues/1">issue #1</a>
        </td>
        <td>
            sales[4] as dollars only:
            <span id="update48" data-f-bind="sales[4]" data-f-convert="$0"></span>
            <br>
            sales[4] update, also using dollars:
            <input id="update49" type="text" data-f-bind="sales[4]" data-f-convert="$0"/>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>data-f-convert percent</td>
        <td>
            sales[4] as percent:
            <span id="update50" data-f-bind="sales[4]" data-f-convert="0%"></span>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>formatting inheritance</td>
        <td></td>
        <td>(TODO in testing and docs)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>data-f-bind and | to upperCase</td>
        <td>
            sampleString in upperCase
            <span id="update51" data-f-bind="sampleString | upperCase"/>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>data-f-bind and | to lowerCase</td>
        <td>
            sampleString in lowerCase
            <span id="update52" data-f-bind="sampleString | lowerCase"/>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>data-f-bind and | to titleCase</td>
        <td>
            sampleString in titleCase
            <span id="update53" data-f-bind="sampleString | titleCase"/>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>data-f-bind and | to i</td>
        <td>
            sampleInt in integer
            <span id="update54" data-f-bind="sampleInt | i"/>
        </td>
        <td class="fail">fail (0.10.0, and 0.9.0), see <a href="https://github.com/forio/flow.js/issues/73">issue #73</a></td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>data-f-bind and | to s</td>
        <td>
            sampleInt in string
            <span id="update55" data-f-bind="sampleInt | s"/>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>formatting</td>
        <td>converters for arrays (introduced 0.6.3 and following)</td>
        <td>
            use converters to select first, last, previous, and reverse:
            <br>
            sales | first:
            <span id="update56" data-f-bind="sales | first"></span>
            <br>
            sales | last:
            <span id="update57" data-f-bind="sales | last"></span>
            <br>
            sales | previous:
            <span id="update58" data-f-bind="sales | previous"></span>
            <br>
            sales | reverse:
            <ul id="update59" data-f-foreach="sales | reverse">
                <li></li>
            </ul>
            <br><br>
            salesSq | first:
            <span id="update60" data-f-bind="salesSq | first"></span>
            <br>
            salesSq | last:
            <span id="update61" data-f-bind="salesSq | last"></span>
            <br>
            salesSq | previous:
            <span id="update62" data-f-bind="salesSq | previous"></span>
            <br>
            salesSq | reverse:
            <ul id="update63" data-f-foreach="salesSq | reverse">
                <li></li>
            </ul>
            <br>
            for reference: print out sales[1]-sales[4]:
            <span data-f-bind="sales[1]"></span>
            ,
            <span data-f-bind="sales[2]"></span>
            ,
            <span data-f-bind="sales[3]"></span>
            ,
            <span data-f-bind="sales[4]"></span>
             and also salesSq[1]-salesSq[4]:
             <span data-f-bind="salesSq[1]"></span>
            ,
            <span data-f-bind="salesSq[2]"></span>
            ,
            <span data-f-bind="salesSq[3]"></span>
            ,
            <span data-f-bind="salesSq[4]"></span>.
        </td>
        <td class="pass">
            pass (0.10.0). note that this only works for span, not for input (i'm assuming that's by design).
        </td>
    </tr>

    <tr>
        <td>TODO</td>
        <td>Converters &amp; Two-way converters</td>
        <td></td>
        <td>(TODO in testing and docs, see 0.6.0 release notes)</td>
    </tr>

    <tr>
        <td>styling</td>
        <td>data-f-class only</td>
        <td>
            <div id="update92" data-f-class="salesMgr.region">
                content colored by region, currently salesMgr.region is
                <span data-f-bind="salesMgr.region"></span>
            </div>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>styling</td>
        <td>data-f-class and class, for string</td>
        <td>
            <div id="update93" data-f-class="salesMgr.region" class="xx">
                content colored by xx.region, currently salesMgr.region is
                <span data-f-bind="salesMgr.region"></span>
            </div>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>styling, regression testing: issue #13</td>
        <td>data-f-class and class, for int</td>
        <td>
            <div id="update94" data-f-class="salesMgr.num_reports" class="xx">
                content colored by xx.value-2, currently salesMgr.num_reports is
                <span data-f-bind="salesMgr.num_reports"></span>
            </div>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>writing_your_own</td>
        <td>data-f-noop (and nothing)</td>
        <td>
            start w/ same as data-f-bind string, then add data-f-noop:
            <br>
            regular span:
            <span data-f-bind="sampleString" ></span>
            <br>
            span w/ noop:
            <span data-f-noop="sampleString"></span>
            <br>
            input:
            <input type="text" data-f-bind="sampleString" />
        </td>
        <td class="pass">pass (0.9.0)</td>
    </tr>

    <tr>
        <td>writing_your_own</td>
        <td>data-f-noop (and own function)</td>
        <td></td>
        <td>(TODO in testing and docs)</td>
    </tr>

    <tr>
        <td>methods</td>
        <td>data-f-on-init</td>
        <td>added 'data-f-on-init="saveAll"' to body tag</td>
        <td class="pass">pass (0.10.0) (verified in postman)</td>
    </tr>

    <tr>
        <td>methods</td>
        <td>data-f-on-click method, no args</td>
        <td>
            <button id="update64" data-f-on-click="resetInt()">Click to set sampleInt to 8</button>
            <br>
            sampleInt =
            <span id="update65" data-f-bind="sampleInt"></span>
        </td>
        <td class="fail">
            only sometimes works in 0.10.0, see <a href="https://github.com/forio/flow.js/issues/10">issue #10</a> which is also <a href="https://issues.forio.com/browse/UNICORN-2157">UNICORN-2157</a>: works if clicking is the only thing we do, but not if we've already changed sampleInt e.g. in the input at top of page (but if we change sampleInt only with buttons, this continues to work...)
        </td>
    </tr>

    <tr>
        <td>methods</td>
        <td>data-f-on-click method, one int arg</td>
        <td>
            <button id="update66" data-f-on-click="addToInt(3)">Click to add 3 to sampleInt</button>
            <br>
            sampleInt =
            <span id="update67" data-f-bind="sampleInt"></span>
        </td>
        <td class="fail">
            only sometimes works in 0.10.0, see <a href="https://github.com/forio/flow.js/issues/10">issue #10</a> which is also <a href="https://issues.forio.com/browse/UNICORN-2157">UNICORN-2157</a>: works if clicking is the only thing we do, but not if we've already changed sampleInt e.g. in the input at top of page (but if we change sampleInt only with buttons, this continues to work...)
        </td>
    </tr>

    <tr>
        <td>methods</td>
        <td>
            data-f-on-click method, one string arg for string letters and spaces
        </td>
        <td>
            <button id="update68" data-f-on-click="changeString(goodbye world)">Click to set sampleString to 'goodbye world'</button>
            <br>
            sampleString =
            <span id="update69" data-f-bind="sampleString"></span>
        </td>
        <td class="fail">
            only sometimes works in 0.10.0, see <a href="https://github.com/forio/flow.js/issues/10">issue #10</a> which is also <a href="https://issues.forio.com/browse/UNICORN-2157">UNICORN-2157</a>: works if clicking is the only thing we do, but not if we've already changed sampleString e.g. in the input at top of page (but if we change sampleString only with buttons, this continues to work...)
        </td>
    </tr>

    <tr>
        <td>methods</td>
        <td>
            data-f-on-click method, one string arg for string all numbers
        </td>
        <td>
            <button id="update70" data-f-on-click="changeString(22)">Click to set sampleString to (string) 22</button>
            <br>
            sampleString =
            <span id="update71" data-f-bind="sampleString"></span>
        </td>
        <td class="fail">
            only sometimes works in 0.10.0, see <a href="https://github.com/forio/flow.js/issues/10">issue #10</a> which is also <a href="https://issues.forio.com/browse/UNICORN-2157">UNICORN-2157</a>: works if clicking is the only thing we do, but not if we've already changed sampleString e.g. in the input at top of page (but if we change sampleString only with buttons, this continues to work...)
        </td>
    </tr>

    <tr>
        <td>methods</td>
        <td>data-f-on-click method, two args</td>
        <td>
            <i>array { }</i>: <br>
            <button id="update72" data-f-on-click="updateTwoArrayVals(5,10)">Click to add 5 to sales[1] and 10 to sales[3]</button>
            <br>
            sales[1] =
            <span id="update73" data-f-bind="sales[1]"></span>
            <br>
            sales[3] =
            <span id="update74" data-f-bind="sales[3]"></span>
            <br><br>
            <i>array [ ]</i>: <br>
            <button id="update75" data-f-on-click="updateTwoArrayValsSq(5,10)">Click to add 5 to salesSq[1] and 10 to salesSq[3]</button>
            <br>
            salesSq[1] =
            <span id="update76" data-f-bind="salesSq[1]"></span>
            <br>
            salesSq[3] =
            <span id="update77" data-f-bind="salesSq[3]"></span>
        </td>
        <td class="fail">
            only works sometimes in 0.10.0, see <a href="https://github.com/forio/flow.js/issues/10">issue #10</a> which is also <a href="https://issues.forio.com/browse/UNICORN-2157">UNICORN-2157</a>: works if clicking is the only thing we do, but not if we've already changed the array values e.g. in the input at top of page (but if we change array values only with buttons, this continues to work...)
        </td>
    </tr>

    <tr>
        <td>methods</td>
        <td>data-f-on-click method, single arg that is other model variable - works with templating</td>
        <td data-f-bind="salesMgr.region">
            <button id="update78" data-f-on-click="changeString(<%= value%>)">Click to change sampleString to salesMgr.region</button>
            <br>
            sampleString =
            <span id="update79" data-f-bind="sampleString"></span>
        </td>
        <td class="pass">
            pass (0.10.0), see also <a href="https://github.com/forio/flow.js/issues/12">issue #12</a>
        </td>
    </tr>

    <tr>
        <td>methods</td>
        <td>data-f-on-click method, multiple arguments that are all other model variables</td>
        <td>future improvement - not available yet</td>
        <td>
            future improvement, see <a href="https://github.com/forio/flow.js/issues/12">issue #12</a>
        </td>
    </tr>

    <tr>
        <td>methods</td>
        <td>chaining method calls</td>
        <td>
            <button id="update80" data-f-on-click="addToInt(3) | addToInt(5)">Click to add 3, then add 5 to sampleInt</button>
            <br>
            sampleInt =
            <span id="update81" data-f-bind="sampleInt"></span>
        </td>
        <td class="fail">
            only sometimes works in 0.10.0, see <a href="https://github.com/forio/flow.js/issues/10">issue #10</a> which is also <a href="https://issues.forio.com/browse/UNICORN-2157">UNICORN-2157</a>: works if clicking is the only thing we do, but not if we've already changed sampleInt e.g. in the input at top of page (but if we change sampleInt only with buttons, this continues to work...)
        </td>
    </tr>

    <tr>
        <td>custom-channel</td>
        <td>batch for variables.subscribe</td>
        <td>
            <script>
                function updateBatchTrue() {
                    console.log("updateBatchTrue called");
                    Flow.channel.variables.subscribe(['sampleInt', 'sampleString'],
        function() { console.log("subscribe, batch true called"); },
        { batch: true });
                    Flow.channel.variables.notify({ sampleInt: 11, sampleString: 'hello true' });
                }

                function updateBatchFalse() {
                    console.log("updateBatchFalse called");
                    Flow.channel.variables.subscribe(['sampleTruthy', 'sample64'],
        function() { console.log("subscribe, batch false called"); },
        { batch: false });
                    Flow.channel.variables.notify({ sampleTruthy: 0, sample64: 2.045 });

                }
            </script>
            Click the button to update sampleInt and sampleString<br>
            <button onclick="updateBatchTrue()">Click to update with batch=true</button><br>
            <button onclick="updateBatchFalse()">Click to update with batch=false</button>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>


    <tr>
        <td>regression testing: <a href="https://github.com/forio/flow.js/issues/8">issue #8</a></td>
        <td>
            When I use data-f-convert="#.#%" and type in 1.5%
in the field, an incorrect value of 1.5 is sent to Julia, and the resulting value is
displayed as 150%.
        </td>
        <td>
            span:
            <span id="update82" data-f-bind="sampleInt"></span>
            <br>
            input:
            <input id="update83" type="text" data-f-bind="sampleInt" data-f-convert="#.#%"/>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>regression testing: <a href="https://github.com/forio/flow.js/issues/2">issue #2</a></td>
        <td>
            I have a variable in my Julia model which is a Float64. The variable is bound via data-f-bind to an input tag in the UI. It works fine for displaying, but when a user changes the value, the new value is sent back to Julia as a string, and throws an error when it tries to squeeze into the Float64.
        </td>
        <td>
            span:
            <span id="update84" data-f-bind="sample64"></span>
            <br>
            <button id="update85" data-f-on-click="addTo64(2.71828)">Click to add 2.71828 to sample64</button>
            <br>
            input:
            <input id="update86" type="text" data-f-bind="sample64"/>
        </td>
        <td class="pass">
            pass (0.10.0) (Note: can only update using button, see <a href="https://github.com/forio/flow.js/issues/10">issue #10</a> which is also <a href="https://issues.forio.com/browse/UNICORN-2157">UNICORN-2157</a>
        </td>
    </tr>

    <tr>
        <td>regression testing: <a href="https://github.com/forio/flow.js/issues/14">issue #14</a></td>
        <td>
            take an array variable, pipe it to a converter that works across the array (e.g. "max"), then pipe it to a formatter that works on one array element (e.g. "s0"). expected result: both piped operations are applied, serially (e.g. the largest element of the array is formatted, rather than the last)
        </td>
        <td>
            span, print out sales[1]-sales[4]:
            <span data-f-bind="sales[1]"></span>
            ,
            <span data-f-bind="sales[2]"></span>
            ,
            <span data-f-bind="sales[3]"></span>
            ,
            <span data-f-bind="sales[4]"></span>
            .
            <br>
            <br>
            span, print out sales | max | $x,xxx:
            <span id="update87" data-f-bind="sales | max | $#,###"></span>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>regression testing: issue #26</td>
        <td>
            nice error msg on converter not found.
        </td>
        <td> (uncomment this test to re-run)
            <!-- span, print out sales | min | $x,xxx:
             <span data-f-bind="sales | min | $#,###"></span> -->
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>display_only; regression testing: <a href="https://github.com/forio/flow.js/issues/18">issue #18</a></td>
        <td>
            flow.js attempts to bind two-way even when data-f-bind not specified
        </td>
        <td>
            this input uses data-f-value:
            <input id="update88" data-f-value="sampleString"/>
            <br>
            this input uses data-f-bind:
            <input id="update89" data-f-bind="sampleString"/>
            <br>
            the value of sampleString is:
            <span id="update90" data-f-bind="sampleString">
                and should update ONLY when the second input is changed by the user, NOT the first
            </span>
        </td>
        <td class="pass">pass (0.10.0)</td>
    </tr>

    <tr>
        <td>regression testing: <a href="https://github.com/forio/flow.js/issues/15">issue #15</a></td>
        <td>
            When data-f-value is used instead of data-f-bind, data-f-convert is ignored
        </td>
        <td>
            sampleString in upperCase (span), using data-f-bind and | <span data-f-bind="sampleString | upperCase"></span> <br>
            sampleString in upperCase (span), using data-f-bind and data-f-convert <span data-f-bind="sampleString" data-f-convert="upperCase"></span><br>
            sampleString in upperCase (input), using data-f-value and | <input id="update91" data-f-value="sampleString | upperCase"/><br>
        </td>
        <td class="pass">
            pass (0.10.0)
        </td>
    </tr>

</table>

<script src="../../../vendor/jquery/dist/jquery.min.js"></script>
<script src="../../../vendor/lodash/dist/lodash.js"></script>

<!-- <script src="../../vendor/epicenter-js-libs/dist/epicenter.js"></script> -->
<script src="https://forio.com/tools/js-libs/1.7.1/epicenter.js"></script>

<script src="../../../dist/flow-edge.js"></script>
<!-- <script src="https://forio.com/tools/js-libs/flow/0.10.0/flow.js"></script> -->


<script>
    'use strict';
    $('body').on('f.ui.operate', function () {
        console.log(arguments);
    });

    var options = {
        channel: {
            //strategy: 'new-if-persisted',
            strategy: 'always-new',
            run: {
                model: 'hello_world_flow.jl',
            //account: 'first-team',
                account: 'mjones',
                project: 'hello-world-flow',
            //server: {host: 'api.epicenter-stable.foriodev.com'}
                server: { host: 'api.forio.com' },
                //variables: { silent: true },
                //operations: { silent: { except: ['saveAll', 'resetInt'] } }
            }
        }
    };


    if (window.location.search.indexOf('silent=variables') !== -1) {
        console.warn('Silencing variables. There should be no GET to variables API when inputs change');
        options.channel.run.variables = { silent: true };
    }
    if (window.location.search.indexOf('silent=operations') !== -1) {
        console.warn('Silencing operations. There should be no GET to operations API when inputs change');
        options.channel.run.operations = { silent: true };
    }


    Flow.initialize(options);

    Flow.dom.converters.register('max', function (value) {
        return _.max(value);
    }, true);

    Flow.dom.converters.register('checkSize', function (arr) {
        var returnArray = [];
        for (var i=0; i < arr.length; i++) {
            if (arr[i] > 250) { returnArray.push(arr[i]); }
        }
        return returnArray;
    }, true);

</script>
<script type="text/javascript">
$(function () {
    $("#range").on("change", function () {
        console.log('change')
    })
    $("#range").on("input", function () {
        console.log('input')
    })
    $("#range").on("mouseup", function () {
        console.log('mouse')
    })
    $("#range").on("blur", function () {
        console.log('blur')
    })
})
</script>
</body>

</html>

