<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
    <!-- <script src="http://local.forio.com:8085/dist/epicenter-edge.js"></script> -->
    <script src="/node_modules/epicenter-js/dist/epicenter.min.js"></script>
    <script src="/dist/flow-edge.js"></script>
</head>

<body data-f-model="">
    <section>
        <button id="btnStep">Step</button>
    </section>
    <table class="table" style="width: 600px;">
        <thead>
            <tr>
                <th>Type</th>
                <th>Output</th>
            </tr>
        </thead>
        <tbody id="outputs">
            <tr>
                <th>runs:Price</th>
                <td>
                    <ul data-f-foreach="run in runs(saved=true)(Price)">
                    <!-- <ul data-f-foreach="run in runs:saved=true;trashed=false:"> -->
                        <li>Name <%= run.name %></li>
                        <li>Id <%= run.id %></li>
                        <li>Price <%= run.variables.Price %></li>
                        <li>
                        
                        </li>
                        
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
    Flow.initialize({
        channel: {
            defaults: {
                run: {
                    account: 'jaimedp',
                    project: 'glasses',
                    model: 'gglasses.vmf',
                }
            },
            channelOptions: {
                // variables: {
                //     readOnly: false,
                //     silent: false,
                // },
                // operations: {
                //     silent: true,
                // }
            }
        }
    });

    </script>
</body>

</html>
