<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
    <!-- <script src="http://local.forio.com:8085/dist/epicenter-edge.js"></script> -->
    <script src="/node_modules/epicenter-js/dist/epicenter.min.js"></script>
    <script src="/dist/flow-edge.js"></script>
</head>

<body class="container-fluid">
   <div class="row">
       <div class="col-xs-6">
           <h4>All runs</h4>
           <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Is Selected</td>
                    </tr>
                </thead>
               <tbody data-f-foreach="run in runs(saved=true)(Price)">
                   <tr>
                       <td><%= run.id %></td>
                       <td><%= run.name %></td>
                       <td>
                           <input type="checkbox" data-f-bind="<%= run.id %>:meta:isSelected">
                       </td>
                       <td>
                           <%= run.variables.Price %>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
       <div class="col-xs-6">
           <h4>Selected Runs</h4>
           <table class="table">
               <tbody data-f-foreach="run in runs(saved=true;isSelected=true)(Price)">
                   <tr>
                       <td><%= run.id %></td>
                       <td><%= run.name %></td>
                   </tr>
               </tbody>
           </table>
       </div>
   </div>
    <script>
    Flow.initialize({
        channel: {
            defaults: {
                run: {
                    account: 'jaimedp',
                    project: 'glasses',
                    model: 'gglasses.vmf',
                }
            },
            channelOptions: {
                // variables: {
                //     readOnly: false,
                //     silent: false,
                // },
                // operations: {
                //     silent: true,
                // }
            }
        }
    });

    </script>
</body>

</html>
