.flow-debug {
    .has-bind {
        color: red;
    }
}

.f-watched {
    z-index: 11;
    opacity: 1;
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}
.f-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 10;
}
.f-modal, .f-item-containers {


    > div {
        position: absolute;
        background-color: white;
        border: 1px solid red;
        border-bottom: 0;
        z-index: 11;
        padding: 2px 4px;

        background-color: #e16820;
        border: 1px #FFF solid;
        color: #FFF;
        -moz-box-shadow: 1px 1px 3px #5f5f5f;
        box-shadow: 1px 1px 3px #5f5f5f;
        -webkit-border-radius: 2px;
        border-radius: 2px;

        &:hover {
            z-index: 12;
        }

        > div {
            display: inline-block;
        }
    }
}

