.flow-debug {
    .has-bind {
        color: red;
    }
}

.f-watched {
    z-index: 11;
    opacity: 1;
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}
.f-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 10;
}

.f-modal, .f-item-containers {
    > div {
        position: absolute;
        border-bottom: 0;
        z-index: 11;
        &:hover {
            z-index: 12;
        }

        -moz-box-shadow: 1px 1px 3px #5f5f5f;
        box-shadow: 1px 1px 3px #5f5f5f;
        -webkit-border-radius: 2px;
        border-radius: 2px;

        > div {
            display: inline-block;
            padding: 2px 4px;

            &.f-input {
                &.f-on {
                    background-color: #a6cee3;
                }
                &.f-bind {
                    background-color: #1f78b4;
                    color:white;
                }
            }
            &.f-output {
                &.f-bind {
                    background-color: #b2df8a;
                }
                &.f-foreach {
                    background-color: #33a02c;
                    color:white;
                }
                &.f-other {
                    background-color: #f768a1;
                }
            }
        }
    }
}

