.flow-debug {
    .has-bind {
        color: red;
    }
}

.f-watched {
    z-index: 11;
    opacity: 1;
}

canvas {
    top: 0;
    left: 0;
    position: absolute;
    // width: 100%;
    // height: 100%;
}
.f-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 10;
}
.f-modal, .f-item-containers {


    > div {
        position: absolute;
        background-color: red;
        opacity: 1;
        > div {
            display: inline-block;
        }
    }
}

